
.AppHeader, .logoContainer {
    background-color: forestgreen;
    min-height: 10vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}
header {
    padding-top: 10px;
}

.loginBlock {
    padding-top: 10px;
    margin-right: 15px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logText {
    font-size: 14px;
    cursor: pointer;
    color: #2c2d29;
}

