
.AppHeader {
    background-color: forestgreen;
    min-height: 10vh;
    display: flex;
    border-bottom: 10px;
    border-bottom-color: white;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
}
header {
    padding-top: 20px;
}