.main {
    min-height: 80vh;
    background-color: lightblue;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: black;
}

.userInfoBlock {
    font-size: 18px;
}

.profile {
    margin: 20px;
}

.formSummaryError {
    font-size: 14px;
    border: 2px solid red;
    padding: 5px;
    color: red;
}